html{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qr-card{
    width: 20rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 15px 15px;
    text-align: center;
}
.qr-card img{
    border-radius: 20px;
}
.qr-card h2{
    color: hsl(218, 44%, 22%);
}
.qr-card p{
    margin-top: -5px ;
    color:hsl(220, 15%, 55%);
}

@media screen and (max-width:344px) {
    .qr-card{
        width: 80%;
    }
    
}